.template{
    display: flex;
    min-height: inherit;
    flex-direction: column;
}

.rowContainer{
    display: flex;
    justify-content: space-around;
    margin: 20px;
    min-height: inherit;
    flex-direction: row;
}

.colContainer{
    display: flex;
    justify-content: space-around;
    margin: 20px;
    flex-direction: column;
}
