.template{
    display: flex;
    min-height: inherit;
    flex-direction: column;
    min-height: inherit;
}

.container{
    display: flex;
    justify-content: space-around;
    margin: 20px;
    min-height: inherit;
    flex-direction: row;
}
