.btn{
    background-color: black;
    color: white;
    border-color: black;
    padding: 4px 6px;
    max-height: 30px;
    min-width: 100px;
    font-family: "Arial", monospace;
    font-size: 14px;
}

.cardButton{
    margin-top: 20px;
}

@media all and (max-width: 424px){
    .cardButton{
        width: 100%;
    }
}
