.card{
    display: flex;
    flex-direction: column;
    border: #e6e6e6 1px solid;
    margin: 5px;
    padding: 5px 15px;
}

h4{
    font-weight: lighter;
}

.card > p{
    text-align: justify;
}

.head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn{
    max-height: 30px;
    background-color: black;
    color: white;
    border-color: black;
    margin-top: 20px;
}