.link {
    text-decoration: none;
    color: white;
    font-size: 14px;
    padding: 5px;
    text-transform: uppercase;
    font-family: "Arial", monospace;
}

.navLink {
    margin-right: 50px;
}

.blackLink{
    color: black !important;
    margin: 10px
}

.centralizedLink{
    align-self: center;
}

.paginationLink{
    color: black !important;
    font-size: 17px;
}

.blackPaginationLink{
    color: black;
    font-weight: bold;
    font-size: 17px;
}

@media all and (max-width: 640px){
    .paginationLink{
        font-size: 14px;
    }

    .blackPaginationLink{
        font-size: 14px;
    }
}
