.link {
    text-decoration: none;
    color: white;
    font-size: 14px;
    padding: 5px;
    text-transform: uppercase;
    font-family: "Arial", monospace;
}
.blackLink{
    color: black !important;
    margin: 10px
}

.centralizedLink{
    align-self: center;
}

.paginationLink{
    color: black !important;
    margin: 10px;
    padding: 0 !important;
}
