.leftMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: #e6e6e6 1px solid;
    width: 200px;
    height: 100%;
    margin-top: 20px;
}