.contentSection{
    flex: 1;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

@media all and (max-width: 640px){
    .contentSection{
        align-items: center;
    }
}
